@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  max-width: 1800px;
  height: 100%
}

#root {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.timeline {
  flex: 0 0 600px;
  font-family: "Inter", sans-serif;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.header {
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2f3336;
}

.top-tweets {
  width: 1.5rem;
  height: auto;
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tweet-editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #2f3336;
}

.avatar {
  flex: 0 0 70px;
}

.avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}

.tweet-editor-form {
  flex: auto;
}

.tweet-editor-input {
  height: 60px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  resize: none;
  padding: 10px 0 0 0;
  margin: 13px 0;
  overflow: hidden;
 
 
}
.tweet-editor-input::placeholder{
  font-family: "SF Pro Text";
  font-weight: 400;
  line-height: normal;
}

.tweet-editor-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet-editor-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.tweet-editor-actions button {
  background-color: transparent;
  border: none;
}

.button {
  text-transform: capitalize;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
}


.tweet-avatar {
  flex: 0 0 70px;
}

.tweet-avatar img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 100%;
}



.tweet-title svg {
  width: 1.2rem;
  height: auto;
}

.tweet-title-author {
  font-size: 1rem;
}

.tweet-title-details {
  color: #6e767d;
}

.tweet-text {
  color: #d9d9d9;
  font-size: 1rem;
}

.tweet-image {
  width: 100%;
  padding: 0.3rem 0 0 0;
}

.tweet-image img {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
  border-color: #2f3336;
  border-style: solid;
  border-width: 1px;
}

.tweet-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: grey;
  font-size: 1rem;
}

.tweet-actions svg {
  width: 1rem;
  height: auto;
  color: #2f3336;
}

.tweet-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 75px;
}

/* side bar left */
.sidebar {
 
  flex: 0 0 275px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  height: 100vh;
  top: 0;
  bottom: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
}

.spaceLogoLinkName {
  margin-right: 10px;
}

.logoX {
  margin-left: 0.625em;
  margin-bottom: 20px;
  padding-top: 1.5em;
}
.active {
  text-decoration: none;
  color: white;
}

nav ul li .active {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.1875rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

nav ul li .active:hover {
  background-color: #1a1a1a;
}
.link {
  text-decoration: none;
}
.button-sidebar {
  text-transform: capitalize;
  padding: 0.9rem 6rem;
  margin: 1.2rem 0 0 0;

  border: none;
  border-radius: 50px;
  background-color: #1d9bf0;
  color: white;
  font-size: 1rem;
}
.user-setting {
  margin: 0 0 0.3125em 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border-radius: 4rem;
  padding: 0.7em;
 
}
.user-setting:hover {
  background-color: #1a1a1a;
}
.user-setting-three-dot {
  margin-left: 3.5em;
}
.user-setting-name {
  display: flex;
}
.user-setting-icone {
  display: flex;
}

/* side bar right */

.sidebar-right {
  padding-top: 1.5em;
  flex: 0 0 360px;
  position: sticky;
  height: 100%;
  top: -300px;

  padding-right: 10px;
}

.sidebar-right input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  background-color: #202327;

}

.sidebar-right input[type="text"]::placeholder {
  color: #999;
}

.sidebar-right input[type="text"]:focus {
  outline: none;
}

.sidebar-right h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.sidebar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trends,
.who-to-follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #202327;
  border-radius: 15px;
  padding: 10px 10px;
}

.sidebar-right ul li {
  margin-bottom: 10px;
}

.sidebar-right a {
  color: #1da1f2;
  text-decoration: none;
}

.who-to-follow {
  margin-top: 15px;
}

.sidebar-right .who-to-follow button {
  background-color: white;
  color: rgb(60, 58, 58);
  padding: 5px 10px;

  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.search-icon {
  background-image: url("./../images/Search-Icon.svg");
  background-position: left;
  background-repeat: no-repeat;
  text-indent: 35px;
}

.Trends-for-you {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1px;
  gap: 6px;
}

.setting {
  display: flex;
  height: 20px;
  padding: 0px 18px 0px 14px;
}

.Trending {
  display: flex;
  justify-content: space-between;
  width: 320px;

  padding-bottom: 1px;
  gap: 6px;
}

.trends ul li {
  margin-bottom: 0px;
}

.trends ul .Trending > p {
  margin-top: 15px;
}

.Trending .more {
  padding: 0px 9px 0px 0px;
}

.who-to-follow ul {
  width: 100%;
}

.who-to-follow ul li {
  margin-top: 20px;
  display: flex;
}

.who-to-follow ul li .username {
  margin-top: -6px;
  display: flex;
  margin-left: 10px;
}
.who-to-follow-icone {
  display: flex;
  align-items: center;
}

.who-to-follow ul .who-to-follow-name {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-left: 10px;
}

.show-more {
  margin-top: 20px;
}



/* Profile page */


.navbar-profile{
  border-bottom: 1px solid #2f3336;
}
.navbar-profile ul{
  display: flex;
  list-style: none;
 
  justify-content: space-around;
  
}
.navbar-profile ul li{
  
  padding: 0.5rem 1rem;
  
}
.navbar-profile ul li:hover{
  
  background-color: #1a1a1a;
}
.navbar-profile-color{
  
  color: white;
  border-bottom: 4px solid #1d9bf0;
  border-radius: 1px;
  
}

.profile-cover{
  width: 100%;
    height: 200px;
 
}
.profile-cover img {
  width: 100%;
  height: 100%;
}
.profile-cover-bg{
background-color: #6e767d;
}
.profile-photo {
  height: 8.35em;
  width: 8.35em;
  margin: -70px 0 0 1rem;
  border-radius: 100%; 
   border: black 3px solid;
}

.profile-photo-profile-edit-button{
  display: flex;
  justify-content: space-between;
}
.about-profile {
  display: flex;
  flex-direction: column;
  gap: .6rem;
  padding: 1rem;
  font-family: Helvetica Neue;
}
.follow-more{
  display: flex;
  gap: 0.4em;
  height: 100%;
 
}
.more-button{
  border-radius: 20px;
  border: 1px solid #2f3336;
  margin-top: 8px;
  padding: 0 0.3em;
}
.more-button:hover{
  background-color: #1a1a1a;
}
.biography{
  font-size: 1.10em;
}
.pseudo-username{
  font-size: 1.25em;
}


.city-joined,.subscrib{
    display: flex;
    align-items: center;
    gap: .9rem;
   
}
.profile-edit-button{
  text-transform: capitalize;
  padding: 0.3em 1.5rem;
  border-radius: 50px;
  border:1px solid #2f3336;
  color: white;
  font-size: 1rem;
  margin-top: 8px;
  background-color: black;
  height: 100%;
  margin-right: 15px;
}
.profile-edit-button:hover{
  background-color: #1a1a1a;
}
.profile-edit-button-color{
  border: solid;
  color: black;
  background-color: rgb(235, 229, 229);
}
.profile-edit-button-color:hover{

  background-color: rgb(211, 208, 208);
}

.profile-header{
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #2f3336;

}
.setting-icone{
display: flex;
 gap: 0.375em;
}
.about-profile-icone{
  display:flex;
  flex-direction: column;
  gap: 1em;
}
.subscriptions{
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
